dist/pug/base/header.html

<header class="main-header">
  <!-- Logo-->
  <!-- Header Navbar-->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <div class="pull-left">
      <div class="d-flex align-items-center">
        <!-- Toggler      -->
        <button class="hamburger js-sidebar-toggle" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        <!-- Search-->
        <form class="top-nav-search ml-3" role="search">         
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
            <input class="form-control" placeholder="Search" type="text"/>
          </div>
        </form>
      </div>
    </div>
    <div class="pull-right">
      <ul class="d-flex align-items-center mb-0">
        <!-- Notifications-->
        <li class="dropdown notifications-menu"><a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="header">
              <div class="bg-light p-20">
                <div class="flexbox">
                  <div>
                    <h4 class="mb-0 mt-0">Notifications</h4>
                  </div>
                  <div><a class="text-danger" href="#">Clear All</a></div>
                </div>
              </div>
            </li>
            <li>             
              <ul class="menu sm-scrol" style="overflow: hidden; width: auto; height: 250px;">
                <li><a href="#"><i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.</a></li>
                <li><a href="#"><i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.</a></li>
                <li><a href="#"><i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.</a></li>
                <li><a href="#"><i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi</a></li>
                <li><a href="#"><i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.</a></li>
              </ul>
            </li>
            <li class="footer"><a class="bg-light" href="#">View all</a></li>
          </ul>
        </li>
        <!-- Tasks-->
        <li class="dropdown tasks-menu"><a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false"><i class="far fa-envelope"></i></a></li>
        <!-- User Account-->
        <li class="dropdown user user-menu"><a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false"><img class="avatar avatar-sm rounded-circle" src="./img/icons/avatar.svg" alt="User Image"/></a>
          <ul class="dropdown-menu dropdown-menu-right">           
            <!-- Menu Body-->
            <li class="user-body"><a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-person"></i> My Profile</a><a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-email-unread"></i> Inbox</a><a class="dropdown-item" href="javascript:void(0)"><i class="ion ion-settings"></i> Account Setting</a><a class="dropdown-item" href="javascript:void(0)"><i class="ion-log-out"></i> Logout</a></li>
          </ul>
        </li>
        <li><a class="nav-link js-change-lang" href="javascript:void(0)">Arabic</a></li>
      </ul>
    </div>
  </nav>
</header>

src/pug/base/header.pug
header.main-header
  // Logo
  //- a.logo(href='../index.html')
    // mini logo
    .logo-mini
      span.light-logo
        img(src='../../images/logo-light.png', alt='logo')
      span.dark-logo
        img(src='../../images/logo-dark.png', alt='logo')
    // logo
    .logo-lg
      span.light-logo
        img(src='../../images/logo-light-text.png', alt='logo')
      span.dark-logo
        img(src='../../images/logo-dark-text.png', alt='logo')
  // Header Navbar
  nav.navbar.navbar-static-top
    // Sidebar toggle button
    .pull-left
      .d-flex.align-items-center
        // Toggler      
        button.hamburger.js-sidebar-toggle(type='button')
          span.hamburger-box
            span.hamburger-inner
        // Search
        form.top-nav-search.ml-3(role='search')          
          .input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-search
            input.form-control(placeholder='Search', type='text')
    .pull-right
      ul.d-flex.align-items-center.mb-0
        // Notifications
        li.dropdown.notifications-menu
          a.nav-link(href='#', data-toggle='dropdown', aria-expanded='false')
            i.fa.fa-bell
          ul.dropdown-menu.dropdown-menu-right
            li.header
              .bg-light.p-20
                .flexbox
                  div
                    h4.mb-0.mt-0 Notifications
                  div
                    a.text-danger(href='#') Clear All
            li              
              ul.menu.sm-scrol(style='overflow: hidden; width: auto; height: 250px;')
                li
                  a(href='#')
                    i.fa.fa-users.text-info
                    |  Curabitur id eros quis nunc suscipit blandit.
                li
                  a(href='#')
                    i.fa.fa-warning.text-warning
                    |  Duis malesuada justo eu sapien elementum, in semper diam posuere.
                li
                  a(href='#')
                    i.fa.fa-users.text-danger
                    |  Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                li
                  a(href='#')
                    i.fa.fa-shopping-cart.text-success
                    |  In gravida mauris et nisi
                li
                  a(href='#')
                    i.fa.fa-user.text-danger
                    |  Praesent eu lacus in libero dictum fermentum.
            li.footer
              a.bg-light(href='#') View all
        // Tasks
        li.dropdown.tasks-menu
          a.nav-link(href='#', data-toggle='dropdown', aria-expanded='false')
            i.far.fa-envelope
          
        // User Account
        li.dropdown.user.user-menu
          a.nav-link(href='#', data-toggle='dropdown', aria-expanded='false')
            img.avatar.avatar-sm.rounded-circle(src='./img/icons/avatar.svg', alt='User Image')
          ul.dropdown-menu.dropdown-menu-right            
            // Menu Body
            li.user-body
              a.dropdown-item(href='javascript:void(0)')
                i.ion.ion-person
                |  My Profile
              a.dropdown-item(href='javascript:void(0)')
                i.ion.ion-email-unread
                |  Inbox
              a.dropdown-item(href='javascript:void(0)')
                i.ion.ion-settings
                |  Account Setting
              a.dropdown-item(href='javascript:void(0)')
                i.ion-log-out
                |  Logout
        li
          a.nav-link(href="javascript:void(0)").js-change-lang Arabic
            
