src/pug/modules/components/badges.pug
.col-12
  h2 Badges
  .my-4
    span.mr-2.badge.badge-default Default
    span.mr-2.badge.badge-primary Primary
    span.mr-2.badge.badge-secondary Secondary
    span.mr-2.badge.badge-info Info
    span.mr-2.badge.badge-success Success
    span.mr-2.badge.badge-danger Danger
    span.mr-2.badge.badge-warning Warning
  hr

dist/pug/modules/components/badges.html

<div class="col-12">
  <h2>Badges</h2>
  <div class="my-4"><span class="mr-2 badge badge-default">Default</span><span class="mr-2 badge badge-primary">Primary</span><span class="mr-2 badge badge-secondary">Secondary</span><span class="mr-2 badge badge-info">Info</span><span class="mr-2 badge badge-success">Success</span><span class="mr-2 badge badge-danger">Danger</span><span class="mr-2 badge badge-warning">Warning</span></div>
  <hr/>
</div>
