dist/pug/modules/components/cards.html

<div class="col-12">
  <h2>Cards</h2>
  <div class="row">
    <div class="col-md-4">
      <h5>Card with image</h5>
      <div class="card" style="width: 20rem;"><img class="card-img-top" src="https://picsum.photos/id/237/200/100" alt="Card image cap"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="btn btn-primary" href="javscript:void(0)">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Card with stats</h5>
      <div class="card card-stats mb-4 mb-lg-0" style="width: 20rem;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total traffic</h5><span class="h2 font-weight-bold mb-0">350,897</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow"><i class="fas fa-chart-bar"></i></div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm"><span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span><span class="text-nowrap">Since last month</span></p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>

src/pug/modules/components/cards.pug
.col-12
  h2 Cards
  .row
    .col-md-4
      h5 Card with image
      .card(style='width: 20rem;')
        img.card-img-top(src='https://picsum.photos/id/237/200/100', alt='Card image cap')
        .card-body
          h5.card-title Card title
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href='javscript:void(0)') Go somewhere

    .col-md-4
      h5 Card with stats
      .card.card-stats.mb-4.mb-lg-0(style='width: 20rem;')
        .card-body
          .row
            .col
              h5.card-title.text-uppercase.text-muted.mb-0 Total traffic
              span.h2.font-weight-bold.mb-0 350,897
            .col-auto
              .icon.icon-shape.bg-danger.text-white.rounded-circle.shadow
                i.fas.fa-chart-bar
          p.mt-3.mb-0.text-muted.text-sm
            span.text-success.mr-2
              i.fa.fa-arrow-up
              |  3.48%
            span.text-nowrap Since last month
  hr
