src/pug/modules/components/tabs.pug
.col-12
  h2 Tabs  
  .row
    .col-md-6
      h5 Horizontal tab
      .card.shadow
        .card-body
          .nav-wrapper
            ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.flex-md-row.custom-tabs(role='tablist')
              li.nav-item
                a#tabs-icons-text-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-icons-text-1', role='tab', aria-controls='tabs-icons-text-1', aria-selected='true')
                  | Home
              li.nav-item
                a#tabs-icons-text-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-icons-text-2', role='tab', aria-controls='tabs-icons-text-2', aria-selected='false')
                  | Profile
              li.nav-item
                a#tabs-icons-text-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-icons-text-3', role='tab', aria-controls='tabs-icons-text-3', aria-selected='false')
                  | Messages
          #myTabContent.tab-content
            #tabs-icons-text-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-icons-text-1-tab')
              p.description
                | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
              
            #tabs-icons-text-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-icons-text-2-tab')
              p.description
                | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            #tabs-icons-text-3.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-icons-text-3-tab')
              p.description
                | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
    .col-md-6
      h5 Vertical tab
      .card.shadow
        .card-body
          .row
            .col-md-4   
              .nav-wrapper
                ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.custom-tabs.vertical(role='tablist')
                  li.nav-item
                    a#tabs-vert-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-vert-1', role='tab', aria-controls='tabs-vert-1', aria-selected='true')
                      | Home
                  li.nav-item
                    a#tabs-vert-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-2', role='tab', aria-controls='tabs-vert-2', aria-selected='false')
                      | Profile
                  li.nav-item
                    a#tabs-vert-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-3', role='tab', aria-controls='tabs-vert-3', aria-selected='false')
                      | Messages
            .col-md-8
              #myTabContent.tab-content
                #tabs-vert-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-vert-1-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  
                #tabs-vert-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-2-tab')
                  p.description
                    | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tabs-vert-3.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-3-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
  .row.mt-4
    .col-md-6
      h5 Variations (Two tab switch)
      .card.shadow
        .card-body
          .nav-wrapper
            .nav.nav-fill.flex-column.flex-md-row.two-tab-switch(role='tablist')
              a#tabs-variation-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-variation-1', role='tab', aria-controls='tabs-variation-1', aria-selected='true')
                | Home
              a#tabs-variation-1-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-variation-1-2', role='tab', aria-controls='tabs-variation-1-2', aria-selected='false')
                | Profile
            #myTabContent.tab-content
              #tabs-variation-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-icons-text-1-tab')
                p.description
                  | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
              #tabs-variation-1-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-variation-1-2-tab')
                p.description
                  | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            
    .col-md-6
      h5 Variations (gray background)
      .card.shadow
        .card-body
          .row
            .col-md-4  
              .nav-wrapper
                ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.custom-tabs.vertical.color-gray(role='tablist')
                  li.nav-item
                    a#tabs-vert-vari-1-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#tabs-vert-vari-1', role='tab', aria-controls='tabs-vert-vari-1', aria-selected='true')
                      | Home
                  li.nav-item
                    a#tabs-vert-vari-2-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-vari-2', role='tab', aria-controls='tabs-vert-vari-2', aria-selected='false')
                      | Profile
                  li.nav-item
                    a#tabs-vert-vari-3-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#tabs-vert-vari-3', role='tab', aria-controls='tabs-vert-vari-3', aria-selected='false')
                      | Messages
            .col-md-8
              #myTabContent.tab-content
                #tabs-vert-vari-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tabs-vert-vari-1-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  
                #tabs-vert-vari-2.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-vari-2-tab')
                  p.description
                    | Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tabs-vert-vari-3.tab-pane.fade(role='tabpanel', aria-labelledby='tabs-vert-vari-3-tab')
                  p.description
                    | Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.

  hr

dist/pug/modules/components/tabs.html

<div class="col-12">
  <h2>Tabs  </h2>
  <div class="row">
    <div class="col-md-6">
      <h5>Horizontal tab</h5>
      <div class="card shadow">
        <div class="card-body">
          <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row custom-tabs" id="tabs-icons-text" role="tablist">
              <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Home</a></li>
              <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Profile</a></li>
              <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">Messages</a></li>
            </ul>
          </div>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
              <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
            </div>
            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
              <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
              <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Vertical tab</h5>
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">  
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column custom-tabs vertical" id="tabs-icons-text" role="tablist">
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-vert-1-tab" data-toggle="tab" href="#tabs-vert-1" role="tab" aria-controls="tabs-vert-1" aria-selected="true">Home</a></li>
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-vert-2-tab" data-toggle="tab" href="#tabs-vert-2" role="tab" aria-controls="tabs-vert-2" aria-selected="false">Profile</a></li>
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-vert-3-tab" data-toggle="tab" href="#tabs-vert-3" role="tab" aria-controls="tabs-vert-3" aria-selected="false">Messages</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tabs-vert-1" role="tabpanel" aria-labelledby="tabs-vert-1-tab">
                  <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
                <div class="tab-pane fade" id="tabs-vert-2" role="tabpanel" aria-labelledby="tabs-vert-2-tab">
                  <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div class="tab-pane fade" id="tabs-vert-3" role="tabpanel" aria-labelledby="tabs-vert-3-tab">
                  <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <h5>Variations (Two tab switch)</h5>
      <div class="card shadow">
        <div class="card-body">
          <div class="nav-wrapper">
            <div class="nav nav-fill flex-column flex-md-row two-tab-switch" role="tablist"><a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-variation-1-tab" data-toggle="tab" href="#tabs-variation-1" role="tab" aria-controls="tabs-variation-1" aria-selected="true">Home</a><a class="nav-link mb-sm-3 mb-md-0" id="tabs-variation-1-2-tab" data-toggle="tab" href="#tabs-variation-1-2" role="tab" aria-controls="tabs-variation-1-2" aria-selected="false">Profile</a></div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="tabs-variation-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
              </div>
              <div class="tab-pane fade" id="tabs-variation-1-2" role="tabpanel" aria-labelledby="tabs-variation-1-2-tab">
                <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Variations (gray background)</h5>
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"> 
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column custom-tabs vertical color-gray" id="tabs-icons-text" role="tablist">
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-vert-vari-1-tab" data-toggle="tab" href="#tabs-vert-vari-1" role="tab" aria-controls="tabs-vert-vari-1" aria-selected="true">Home</a></li>
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-vert-vari-2-tab" data-toggle="tab" href="#tabs-vert-vari-2" role="tab" aria-controls="tabs-vert-vari-2" aria-selected="false">Profile</a></li>
                  <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="tabs-vert-vari-3-tab" data-toggle="tab" href="#tabs-vert-vari-3" role="tab" aria-controls="tabs-vert-vari-3" aria-selected="false">Messages</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tabs-vert-vari-1" role="tabpanel" aria-labelledby="tabs-vert-vari-1-tab">
                  <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
                <div class="tab-pane fade" id="tabs-vert-vari-2" role="tabpanel" aria-labelledby="tabs-vert-vari-2-tab">
                  <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div class="tab-pane fade" id="tabs-vert-vari-3" role="tabpanel" aria-labelledby="tabs-vert-vari-3-tab">
                  <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
