dist/pug/modules/components/timelines.html

<div class="col-12">
  <h2>Timelines </h2>
  <div class="row">
    <div class="col-md-6">
      <h5>One sided</h5>
      <div class="timeline">
        <div class="timeline-position">
          <div class="timeline-content">
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="timeline-position">
          <div class="timeline-content">
            <p>Lorem ipsum..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Both sided</h5>
      <div class="timeline timeline-left-right">
        <div class="timeline-position timeline-position-left">
          <div class="timeline-content">
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="timeline-position timeline-position-right">
          <div class="timeline-content">
            <p>Lorem ipsum..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

src/pug/modules/components/timelines.pug
.col-12
  h2 Timelines 

  .row
    .col-md-6
      h5 One sided
      .timeline
        .timeline-position
          .timeline-content
            p Lorem ipsum..
        .timeline-position
          .timeline-content
            p Lorem ipsum..

    .col-md-6
      h5 Both sided
      .timeline.timeline-left-right
        .timeline-position.timeline-position-left
          .timeline-content
            p Lorem ipsum..
        .timeline-position.timeline-position-right
          .timeline-content
            p Lorem ipsum..
