src/pug/modules/process/main.pug
.py-2.header.bg-gradient-primary
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4
        h1.text-white.m-0.ls-3 Process
  
.py-3
  .container-fluid
    .row
      //- .toc.d-none.d-xl-block
      //-   ul.section-nav
      //-     li.toc-entry
      //-       a(href='#responsive') Responsive development
      //-     li.toc-entry
      //-       a(href='#best-practices') Best Practices
      //-     li.toc-entry
      //-       a(href='#accessibility') Accessibility
      
        //- img.img-fluid(src="./img/process/process-diagram.png", alt="Our process")
      .col-12.col-md-9.py-md-3.pl-md-4.ct-content
        h2 At Lollypop, the process we follow during UI Development
        h3 1) QA
        ul
          li Prototype/UX/UI design testing
          li Test Scenario and Test Case Documentation
        h3 2) Development (HTML,CSS,JS)
        ul
          li Component breakdown development	
          li Mobile first responsive developement(Mobile &#8594; Tablet &#8594; Desktop
            a(href="https://developers.google.com/web/fundamentals/design-and-ux/responsive/" target="_blank" rel="noopener noreferrer")
              .fa.fa-link

          li Major browser support(IE/Safari/Mozilla/chrome)
          li Performance optimization
            a(href="https://developers.google.com/web/fundamentals/performance/why-performance-matters/" target="_blank" rel="noopener noreferrer")
              .fa.fa-link
          li Best Practices
          li Accessibility
            a(href="https://developers.google.com/web/fundamentals/accessibility/" target="_blank" rel="noopener noreferrer")
              .fa.fa-link
          li SEO optimized HTML code
          li Documented code
          li Refactored code
          li Gitlab hosted source code
        
        h3 3) Testing
        ul
          li Unit Testing
          li Integration Testing
          li Regression Tesing
          li Acceptance Testing
          li Compatability Testing
          li Accessibility Testing
        h3 4) Support (Backend)
        ul
          li Bug Tracking and Fixing
          li Performance and Load Testing support
        
        #responsive
          //- include ./responsive.pug
        #best-practices
          //- include ./best-practices.pug
        #accessibility 
          //- include ./accessibility.pug

dist/pug/modules/process/main.html

<div class="py-2 header bg-gradient-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-9 py-md-3 pl-md-4">
        <h1 class="text-white m-0 ls-3">Process</h1>
      </div>
    </div>
  </div>
</div>
<div class="py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-9 py-md-3 pl-md-4 ct-content">
        <h2>At Lollypop, the process we follow during UI Development</h2>
        <h3>1) QA</h3>
        <ul>
          <li>Prototype/UX/UI design testing</li>
          <li>Test Scenario and Test Case Documentation</li>
        </ul>
        <h3>2) Development (HTML,CSS,JS)</h3>
        <ul>
          <li>Component breakdown development	</li>
          <li>Mobile first responsive developement(Mobile &#8594; Tablet &#8594; Desktop<a href="https://developers.google.com/web/fundamentals/design-and-ux/responsive/" target="_blank" rel="noopener noreferrer">
              <div class="fa fa-link"></div></a></li>
          <li>Major browser support(IE/Safari/Mozilla/chrome)</li>
          <li>Performance optimization<a href="https://developers.google.com/web/fundamentals/performance/why-performance-matters/" target="_blank" rel="noopener noreferrer">
              <div class="fa fa-link"></div></a></li>
          <li>Best Practices</li>
          <li>Accessibility<a href="https://developers.google.com/web/fundamentals/accessibility/" target="_blank" rel="noopener noreferrer">
              <div class="fa fa-link"></div></a></li>
          <li>SEO optimized HTML code</li>
          <li>Documented code</li>
          <li>Refactored code</li>
          <li>Gitlab hosted source code</li>
        </ul>
        <h3>3) Testing</h3>
        <ul>
          <li>Unit Testing</li>
          <li>Integration Testing</li>
          <li>Regression Tesing</li>
          <li>Acceptance Testing</li>
          <li>Compatability Testing</li>
          <li>Accessibility Testing</li>
        </ul>
        <h3>4) Support (Backend)</h3>
        <ul>
          <li>Bug Tracking and Fixing</li>
          <li>Performance and Load Testing support</li>
        </ul>
        <div id="responsive"></div>
        <div id="best-practices"></div>
        <div id="accessibility"> </div>
      </div>
    </div>
  </div>
</div>
