src/pug/components/alert.pug
h2 Alerts examples
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#result-tab.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#result', role='tab', aria-controls='result', aria-selected='true')
        | Result
    li.nav-item
      a#code-tab.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code', role='tab', aria-controls='code', aria-selected='false')
        | Code

  .tab-content
    #result.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='result-tab')
      .card.shadow
        .card-body
          .alert.alert-default(role='alert')
            strong Default!
            |  This is a default alert—check it out!
          .alert.alert-primary(role='alert')
            strong Primary!
            |  This is a primary alert—check it out!
          .alert.alert-secondary(role='alert')
            strong Secondary!
            |  This is a secondary alert—check it out!
          .alert.alert-info(role='alert')
            strong Info!
            |  This is a info alert—check it out!
          .alert.alert-success(role='alert')
            strong Success!
            |  This is a success alert—check it out!
          .alert.alert-danger(role='alert')
            strong Danger!
            |  This is a danger alert—check it out!
          .alert.alert-warning(role='alert')
            strong Warning!
            |  This is a warning alert—check it out!
    #code.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab')
      figure.highlight
        pre.language-html
          code.language-html
            | .alert.alert-default(role='alert')
            |   strong Default!
            |     This is a default alert—check it out!
            |
            | .alert.alert-primary(role='alert')
            |   strong Primary!
            |     This is a primary alert—check it out!
            |
            | .alert.alert-secondary(role='alert')
            |   strong Secondary!
            |     This is a secondary alert—check it out!
            |
            | .alert.alert-info(role='alert')
            |   strong Info!
            |     This is a info alert—check it out!
            |
            | .alert.alert-success(role='alert')
            |   strong Success!
            |     This is a success alert—check it out!
            |
            | .alert.alert-danger(role='alert')
            |   strong Danger!
            |     This is a danger alert—check it out!
            |
            | .alert.alert-warning(role='alert')
            |   strong Warning!
            |     This is a warning alert—check it out!
h2 Dismissing Alerts
.nav-wrapper
  ul.nav.tabs.flex-column.flex-md-row(role='tablist')
    li.nav-item
      a#result-tab-2.nav-link.mb-sm-3.mb-md-0.active(data-toggle='tab', href='#result-2', role='tab', aria-controls='result', aria-selected='true')
        | Result
    li.nav-item
      a#code-tab-2.nav-link.mb-sm-3.mb-md-0(data-toggle='tab', href='#code-2', role='tab', aria-controls='code', aria-selected='false')
        | Code

  .tab-content
    #result-2.tab-pane.result-tab.fade.show.active(role='tabpanel', aria-labelledby='result-tab-2')
      .card.shadow
        .card-body
          .alert.alert-default.alert-dismissible.fade.show(role='alert')
            span.alert-icon
              i.ni.ni-like-2
            span.alert-text
              strong Default!
              |  This is a default alert—check it out!
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
          .alert.alert-primary.alert-dismissible.fade.show(role='alert')
            span.alert-icon
              i.ni.ni-like-2
            span.alert-text
              strong Primary!
              |  This is a default alert—check it out!
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
    #code-2.tab-pane.code-tab.fade(role='tabpanel', aria-labelledby='code-tab-2')
      figure.highlight
        pre.language-html
          code.language-html
            | .alert.alert-default.alert-dismissible.fade.show(role='alert')
            |    span.alert-icon
            |      i.ni.ni-like-2
            |    span.alert-text
            |      strong Default!
            |      |  This is a default alert—check it out!
            |    button.close(type='button', data-dismiss='alert', aria-label='Close')
            |      span(aria-hidden='true') ×
            |
            | .alert.alert-primary.alert-dismissible.fade.show(role='alert')
            |    span.alert-icon
            |      i.ni.ni-like-2
            |    span.alert-text
            |      strong Primary!
            |      |  This is a default alert—check it out!
            |    button.close(type='button', data-dismiss='alert', aria-label='Close')
            |      span(aria-hidden='true') ×
            
h2 Modify size and spaces
p You can change spaces/border by modifying <strong>'/custom/variable.scss'</strong> file.
pre.language-css
  code.language-css
    | // Alerts

    | $alert-padding-y: 1rem !default;
    | $alert-padding-x: 1.5rem !default;
    | $alert-border-radius: $border-radius !default;

    | $alert-bg-level: -2 !default;
    | $alert-border-level: -2 !default;
    | $alert-color-level: 0 !default;

dist/pug/components/alert.html

<h2>Alerts examples</h2>
<div class="nav-wrapper">
  <ul class="nav tabs flex-column flex-md-row" role="tablist">
    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="true">Result</a></li>
    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">Code</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane result-tab fade show active" id="result" role="tabpanel" aria-labelledby="result-tab">
      <div class="card shadow">
        <div class="card-body">
          <div class="alert alert-default" role="alert"><strong>Default!</strong> This is a default alert—check it out!</div>
          <div class="alert alert-primary" role="alert"><strong>Primary!</strong> This is a primary alert—check it out!</div>
          <div class="alert alert-secondary" role="alert"><strong>Secondary!</strong> This is a secondary alert—check it out!</div>
          <div class="alert alert-info" role="alert"><strong>Info!</strong> This is a info alert—check it out!</div>
          <div class="alert alert-success" role="alert"><strong>Success!</strong> This is a success alert—check it out!</div>
          <div class="alert alert-danger" role="alert"><strong>Danger!</strong> This is a danger alert—check it out!</div>
          <div class="alert alert-warning" role="alert"><strong>Warning!</strong> This is a warning alert—check it out!</div>
        </div>
      </div>
    </div>
    <div class="tab-pane code-tab fade" id="code" role="tabpanel" aria-labelledby="code-tab">
      <figure class="highlight">
        <pre class="language-html"><code class="language-html">.alert.alert-default(role='alert')
  strong Default!
    This is a default alert—check it out!

.alert.alert-primary(role='alert')
  strong Primary!
    This is a primary alert—check it out!

.alert.alert-secondary(role='alert')
  strong Secondary!
    This is a secondary alert—check it out!

.alert.alert-info(role='alert')
  strong Info!
    This is a info alert—check it out!

.alert.alert-success(role='alert')
  strong Success!
    This is a success alert—check it out!

.alert.alert-danger(role='alert')
  strong Danger!
    This is a danger alert—check it out!

.alert.alert-warning(role='alert')
  strong Warning!
    This is a warning alert—check it out!</code></pre>
      </figure>
    </div>
  </div>
</div>
<h2>Dismissing Alerts</h2>
<div class="nav-wrapper">
  <ul class="nav tabs flex-column flex-md-row" role="tablist">
    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active" id="result-tab-2" data-toggle="tab" href="#result-2" role="tab" aria-controls="result" aria-selected="true">Result</a></li>
    <li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0" id="code-tab-2" data-toggle="tab" href="#code-2" role="tab" aria-controls="code" aria-selected="false">Code</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane result-tab fade show active" id="result-2" role="tabpanel" aria-labelledby="result-tab-2">
      <div class="card shadow">
        <div class="card-body">
          <div class="alert alert-default alert-dismissible fade show" role="alert"><span class="alert-icon"><i class="ni ni-like-2"></i></span><span class="alert-text"><strong>Default!</strong> This is a default alert—check it out!</span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="alert alert-primary alert-dismissible fade show" role="alert"><span class="alert-icon"><i class="ni ni-like-2"></i></span><span class="alert-text"><strong>Primary!</strong> This is a default alert—check it out!</span>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane code-tab fade" id="code-2" role="tabpanel" aria-labelledby="code-tab-2">
      <figure class="highlight">
        <pre class="language-html"><code class="language-html">.alert.alert-default.alert-dismissible.fade.show(role='alert')
   span.alert-icon
     i.ni.ni-like-2
   span.alert-text
     strong Default!
     |  This is a default alert—check it out!
   button.close(type='button', data-dismiss='alert', aria-label='Close')
     span(aria-hidden='true') ×

.alert.alert-primary.alert-dismissible.fade.show(role='alert')
   span.alert-icon
     i.ni.ni-like-2
   span.alert-text
     strong Primary!
     |  This is a default alert—check it out!
   button.close(type='button', data-dismiss='alert', aria-label='Close')
     span(aria-hidden='true') ×</code></pre>
      </figure>
    </div>
  </div>
</div>
<h2>Modify size and spaces</h2>
<p>You can change spaces/border by modifying <strong>'/custom/variable.scss'</strong> file.</p>
<pre class="language-css"><code class="language-css">// Alerts
$alert-padding-y: 1rem !default;
$alert-padding-x: 1.5rem !default;
$alert-border-radius: $border-radius !default;
$alert-bg-level: -2 !default;
$alert-border-level: -2 !default;
$alert-color-level: 0 !default;</code></pre>
