src/pug/components/sidebar.pug
// Sidenav
nav#sidenav-main.main-sidebar.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
  .container-fluid
    // Toggler
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    // Brand
    a.navbar-brand.pt-0(href='./index.html')
      h3 Logo
    
        
    // Collapse
    #sidenav-collapse-main.collapse.navbar-collapse
      // Collapse header
      .navbar-collapse-header.d-md-none
        .row
          .col-6.collapse-brand
            a(href='./index.html')
              img(src='./img/brand/logo.svg')
          .col-6.collapse-close
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidenav-collapse-main', aria-controls='sidenav-main', aria-expanded='false', aria-label='Toggle sidenav')
              span
              span
      // Navigation
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(href="components.html") Components             
        li.nav-item
          a.nav-link(href="index.html") Link 2
        li.nav-item
          a.nav-link(href="index.html") Link 3
          

dist/pug/components/sidebar.html

<!-- Sidenav-->
<nav class="main-sidebar navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <!-- Brand--><a class="navbar-brand pt-0" href="./index.html">
      <h3>Logo</h3></a>
    <!-- Collapse-->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header-->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand"><a href="./index.html"><img src="./img/brand/logo.svg"/></a></div>
          <div class="col-6 collapse-close">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav"><span></span><span></span></button>
          </div>
        </div>
      </div>
      <!-- Navigation-->
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="components.html">Components             </a></li>
        <li class="nav-item"><a class="nav-link" href="index.html">Link 2</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html">Link 3</a></li>
      </ul>
    </div>
  </div>
</nav>
