src/pug/modules/react/main.pug
.py-2.header.bg-gradient-primary
  .container-fluid
    .row
      .col-12.col-md-9.py-md-3.pl-md-4
        h1.text-white.m-0.ls-3 React training session
        p.text-white.m-0 Date / Resources / Table of content
  
.py-3
  .container-fluid
    .row
      //- .toc.d-none.d-xl-block
      //-   ul.section-nav
      //-     li.toc-entry
      //-       a(href='#responsive') Responsive development
      //-     li.toc-entry
      //-       a(href='#best-practices') Best Practices
      //-     li.toc-entry
      //-       a(href='#accessibility') Accessibility
      
        //- img.img-fluid(src="./img/process/process-diagram.png", alt="Our process")
      .col-12.col-md-9.py-md-3.pl-md-4.ct-content        
        h2 Date: 25 March 2019 - Monday (finished)
        h4 Agenda:
        ol
          li How to <em>setup react</em> project
          li Understanding <em>Folder structure</em>
          li How to <em>add assets</em> to the project
          li How to add <em>new packages</em> to the project
          li Understanding <em>class components</em>
          li Understanding <em>component's state</em>
          li Understanding <em>JSX</em>
          li Converting Myntra landing page into <em>static react component</em>
        h4.d-inline-block Resources: 
        ul
          li
            a(href="https://facebook.github.io/create-react-app/docs/getting-started" target="_blank" rel="noopener noreferrer") &nbsp; Getting started (Create react app - doc)
          li
            a(href="https://gitlab.com/akrj/learning-react" target="_blank" rel="noopener noreferrer") &nbsp; Gitlab repo (master branch)
        h2.mt-4 Date: 29 March 2019 - Friday (Upcoming)
        h4 Agenda:
        ol
          li How to add <em>Sass to react</em> project
          li Understanding <em>Props</em>
          li Creating <em>Dynamic components</em>
          li Understanding <em>react-router</em>
          li Fetching/showing data from <em>APIs</em>
          li Understanding <em> Forms in React</em>
          
        

dist/pug/modules/react/main.html

<div class="py-2 header bg-gradient-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-9 py-md-3 pl-md-4">
        <h1 class="text-white m-0 ls-3">React training session</h1>
        <p class="text-white m-0">Date / Resources / Table of content</p>
      </div>
    </div>
  </div>
</div>
<div class="py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-9 py-md-3 pl-md-4 ct-content">       
        <h2>Date: 25 March 2019 - Monday (finished)</h2>
        <h4>Agenda:</h4>
        <ol>
          <li>How to <em>setup react</em> project</li>
          <li>Understanding <em>Folder structure</em></li>
          <li>How to <em>add assets</em> to the project</li>
          <li>How to add <em>new packages</em> to the project</li>
          <li>Understanding <em>class components</em></li>
          <li>Understanding <em>component's state</em></li>
          <li>Understanding <em>JSX</em></li>
          <li>Converting Myntra landing page into <em>static react component</em></li>
        </ol>
        <h4 class="d-inline-block">Resources: </h4>
        <ul>
          <li><a href="https://facebook.github.io/create-react-app/docs/getting-started" target="_blank" rel="noopener noreferrer">&nbsp; Getting started (Create react app - doc)</a></li>
          <li><a href="https://gitlab.com/akrj/learning-react" target="_blank" rel="noopener noreferrer">&nbsp; Gitlab repo (master branch)</a></li>
        </ul>
        <h2 class="mt-4">Date: 29 March 2019 - Friday (Upcoming)</h2>
        <h4>Agenda:</h4>
        <ol>
          <li>How to add <em>Sass to react</em> project</li>
          <li>Understanding <em>Props</em></li>
          <li>Creating <em>Dynamic components</em></li>
          <li>Understanding <em>react-router</em></li>
          <li>Fetching/showing data from <em>APIs</em></li>
          <li>Understanding <em> Forms in React</em></li>
        </ol>
      </div>
    </div>
  </div>
</div>
